
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/register.js"></script>


<!-- <footer>
  <p>Copyright 2020 Powered by <a href="https://okgreen.in/">OkGreen.in</a></p>
</footer> -->

</body>
</html>
