<%- include('partials/header') %>


<div class="jumbotron centered" style="margin-top:-180px;>
  <div class=" container">
  <!-- <i class="fas fa-key fa-6x"></i> -->

  <div class="box" id="heading">

    <h1 class="display-3">Family Farmer</h1>
  </div>
<div class="container">
  <div class="row" style="text-align:center;">
    <div class="col-lg-8 ">

      <!-- <h1 >With a mission to empower our Farmers</h1> -->
      <h2 class="big-heading">Family Farmer is a place for helping farmers.</h2>
      <h2 class="big-heading">पारिवारिक किसान किसानों की मदद करने के लिए एक जगह है।</h2>
      <h2 class="big-heading">કુટુંબ ખેડૂત એ ખેડૂતોને મદદ કરવા માટેનું એક સ્થળ છે.</h2>
      <hr>
    </div>
    <div class="col-lg-4">
      <img src="/images/tree.png" class="round_image" width="300px" height="300px" alt=""> <br><br>

      <a class="btn btn-light btn-lg"  href="/register" role="button"><i class="fab fa-pagelines"></i> Register</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button"><i class="fas fa-store"></i> Login </a>
    </div>
  </div>

</div>



</div>


<%- include('partials/footer') %>
