<%- include('partials/header') %>



  <div class="container" >
  <!-- <i class="fas fa-key fa-6x"></i> -->

  <div class="box" id="heading">


  </div>
<div class="container alignCenter">
  <div class="row">
    <div class="col-lg-6 ">
      <h1 id="title">Family Farmer</h1>

      <!-- <h1 >With a mission to empower our Farmers</h1> -->
      <h2 >Family Farmer is a place for helping farmers.</h2>
      <h2>पारिवारिक किसान किसानों की मदद करने के लिए एक जगह है।</h2>
      <h2 >કુટુંબ ખેડૂત એ ખેડૂતોને મદદ કરવા માટેનું એક સ્થળ છે.</h2>
      <hr>
    </div>
    <div class="col-lg-6">
      <img src="/images/tree.png" class="round_image"  alt="organic farming"> <br><br>

      <a class="btn btn-light btn-lg"  href="/register" role="button"><i class="fab fa-pagelines"></i> Register</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button"><i class="fas fa-store"></i> Login </a>
    </div>
  </div>

</div>






<%- include('partials/footer') %>
