<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Friendly Farmer</h1>
    <p class="lead">With a mission to empower our Farmers</p>
    <h1 class="big-heading">Friendly Farmer is a place for helping farmers.</h1>
                    <h1 class="big-heading">दोस्ताना किसान किसानों की मदद करने के लिए एक जगह है।</h1>
                    <h1 class="big-heading">મૈત્રીપૂર્ણ ખેડૂત એ ખેડૂતોને મદદ કરવા માટેનું એક સ્થળ છે.</h1>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
