<%- include('partials/header') %>
<div class="jumbotron">
  <h1 class="display-4">Hello, <%=username%>!</h1>
  <p class="lead">You have successfully registered at Family Farmer. To create your shop click the login button. </p>
  <hr class="my-4">
  <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
  <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
</div>
<%- include('partials/footer') %>
