/* body {
    background-color:  #80ff80;
} */

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

body {
    background-color: #E8ECEF;
  }

  .centered {
      padding-top: 200px;
      text-align: center;
  }

  .secret-text {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background-color: #000;
  }
