/* body {
    background-color:  #80ff80;
} */
.red {
  color:red;
}
h1 {

  background-color: #A683E3;
  text-align: center;
  color: #fff;
  padding: 10px;
}

h3 {
  text-align: center;
}

body {
    background-color: #E8ECEF;
  }

  .alignCenter {
    text-align: center;
  }

  .centered {
      padding-top: 200px;
      text-align: center;
  }

  .secret-text {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background-color: #000;
  }

table {
  border: 1px solid black;
  cellpadding:"15"
}
   th {
    border: 1px solid black;
  }

  td {
    padding: 10px;
    border: 1px solid black;
  }

  form {
  margin: 0 auto;
  width:650px;
  }

  footer {
    margin-top: 50px;
    text-align: center;
    background-color: #77B81E;
    color: white;
  }


  .item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
  }

  .item:last-child {
    border-bottom: 0;
  }

  input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #A683E3;
  }

  input[type="checkbox"] {
    margin: 20px;
  }
button {
  margin-top: 20px;
}
